In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['font.sans-serif'] = ['WenQuanYi Zen Hei']  # 用来正常显示中文标签

df = sns.load_dataset('titanic')

# print(df.isnull().sum())

# print(df.age.idxmax())

df1=df.copy()

df1=df1.sort_values('age')
age_median = df1['age'].median() 
df1['age'] = df1['age'].fillna(age_median)
df1=df1.sort_values('age')
print(df1.head())
print(df1.tail())

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
803         1       3    male  0.42      0      1   8.5167        C   Third
755         1       2    male  0.67      1      1  14.5000        S  Second
644         1       3  female  0.75      2      1  19.2583        C   Third
469         1       3  female  0.75      2      1  19.2583        C   Third
78          1       2    male  0.83      0      2  29.0000        S  Second

       who  adult_male deck  embark_town alive  alone
803  child       False  NaN    Cherbourg   yes  False
755  child       False  NaN  Southampton   yes  False
644  child       False  NaN    Cherbourg   yes  False
469  child       False  NaN    Cherbourg   yes  False
78   child       False  NaN  Southampton   yes  False
     survived  pclass   sex   age  sibsp  parch     fare embarked  class  who  \
116         0       3  male  70.5      0      0   7.7500        Q  Third  man
96          0       1  male  71.0      0      0  34.6542        C  First  man
493         0       1  male  71.0      0      0  49.5042        C  First  man
851         0       3  male  74.0      0      0   7.7750        S  Third  man
630         1       1  male  80.0      0      0  30.0000        S  First  man

     adult_male deck  embark_town alive  alone
116        True  NaN   Queenstown    no   True
96         True    A    Cherbourg    no   True
493        True  NaN    Cherbourg    no   True
851        True  NaN  Southampton    no   True
630        True    A  Southampton   yes   True